# Iterations

Many tasks require doing the same basic actions over and over with only small changes. Since repetitive tasks appear so frequently, it is only natural that programming languages like Python would have direct methods of performing iteration.

Next, we will learn the basic ways to program iterative tasks. 

# For Loops

A for-loop is a set of instructions that is repeated, or iterated, for every value in a sequence. Sometimes for-loops are referred to as definite loops because they have a predefined start and end, as bounded by the sequence.

A for-loop is built as follows :
```python

for looping variable in sequence:
    code block

```

In [2]:

for n in range(1,4):
    print(n)

1
2
3

WHAT IS HAPPENING?

First, the function range(1, 4) is generating a list of numbers beginning at 1 and ending at 3.


1. The variable n is assigned the value 1 and printed in the screen.

2. The variable n is assigned the value 2 and printed in the screen.

3. The variable i is assigned the value 3 and printed in the screen.

With no more values to assign in the list, the for-loop is terminated with n = 3.

In [14]:
#example, print the word apple ten times
for i in range(11):
    print(f"i={i}, {'apple'*i}")

i=4, appleappleappleapple
i=5, appleappleappleappleapple
i=6, appleappleappleappleappleapple
i=7, appleappleappleappleappleappleapple
i=8, appleappleappleappleappleappleappleapple
i=9, appleappleappleappleappleappleappleappleapple
i=10, appleappleappleappleappleappleappleappleappleapple

In [27]:
#example, print the characters in the word apple
word = 'apple'
for n in range(len(word)):
    print(word[n])

a
p
p
l
e

In [25]:
print(i)

4

In [31]:
# What is the output here? why?
word = 'apple'
for i in word: #['a','p','p','l','e']
    print(i)

a
p
p
l
e

In [30]:
for i in ['a','p','p','l','e']:
    print(i)

a
p
p
l
e

In [ ]:
#sum the numbers in a list
s = 0
a = [2, 3, 1, 3, 3]
for i in a:
    s += i # note this is equivalent to s = s + i

print(s)

In [33]:
#sum the numbers in a list using index
s = 0
a = [2, 3, 1, 3, 3]
for i in range(len(a)): #[0,1,2,3,4]
    s += a[i] #-> s = s + a[i]
    
print(s)

12

In [34]:
s = 0
a = [2, 3, 1, 3, 3]
for i in a: #[2, 3, 1, 3, 3]
    s += i #-> s = s + i
    
print(s)

12

In [ ]:
s=0

#1st loop 
i = 2
s = 0+2 = 2

#2nd loop
i = 3
s = 2 + 3 = 5

#3rd loop
i = 1
s = 5 + 1 = 6

#4th loop
i= 3
s = 6+3 = 9

#5th loop 
i=3
s = 9 + 3  = 12


print -> 12

In [35]:
#sum the numbers in a list if they satisfy a condition 
s = 0
a = [2, 3, 1, 3, 3]
for i in a:
    
    if i>= 3: 
        s += i # note this is equivalent to s = s + i
    
print(s)

9

In [38]:
#sum every other number in a list using index
s = 0
a = [2, 3, 1, 3, 3]
for i in range(0, len(a), 2):
    s += a[i]
    
print(s)

6

In [37]:
# The same can be achieved using the module (%) operator
s = 0
a = [2, 3, 1, 3, 3]
for i in range(0, len(a)):
    if i%2==0:
        s += a[i]

    
print(s)

6

Note that we could assign two different looping variables at the same time. For example, if we have two lists with same length, and we want to loop through them. We can do it using the zip function:

In [39]:
a = ["One", "Two", "Three"]
b = [1, 2, 3]

for i, j in zip(a, b):
    print(i, j)

One 1
Two 2
Three 3

In [43]:

for n in range(len(a)):
    print(a[n],b[n])

One 1
Two 2

IndexError: list index out of range

In [41]:
#if the lists have different lengths??
a = ["One", "Two", "Three"]
b = [1, 2]

for i, j in zip(a, b):
    print(i, j)

One 1
Two 2

Python allows you to iterate over the keys of a dictionary

In [44]:
dict_a = {"One":1, "Two":2, "Three":3}

for key in dict_a.keys():
    print(key, dict_a[key])

One 1
Two 2
Three 3

In [45]:
for key, value in dict_a.items():
    print(key, value)

One 1
Two 2
Three 3

In [56]:
#check if a string contains a number

def my_function(input_string = 'hi'):
    '''
    A function that checks if a string contains a number
    '''
    isanumber = False
    
    assert type(input_string)==str, 'input must be a string.'
    
    for i in input_string:
        if i.isdigit(): #this function checks if `i` is a number 
            isanumber = True
            
    return isanumber

In [57]:
my_function('0eee')

True

In [58]:
#add the numbers in a string

def my_function(input_string = 'hi'):
    
    sumofnumbers = 0
    
    assert type(input_string)==str, 'input must be a string.'
    
    for i in input_string:
        if i.isdigit():
            sumofnumbers = sumofnumbers + int(i)
            
    return sumofnumbers

In [59]:
my_function('e2e2')

4


### Mini Challenge

Write a function that takes a string and removes the numbers from the string. You can use the ```.isdigit()``` method of the string to check if the character is a digit.


Example: 
```python
my_function('1hola2') -> 'hola'
```

Try to do it yourself. If you get stuck, the solution is at the end of the notebook.

In [64]:
word = 'this is an 1nput'
out = ''
for i in word:
     if not i.isdigit():
         out = out + i
print(out)

this is an nput

## Handling Loops 

There are two important keyword to manipulate loops 

```python
break 
```

```break``` will exit the for-loop.

```python
continue
```

```continue``` will skip one iteration

In [66]:
#example of break 
for i in range(5):
    
    print(i)
    
    if i==3:
        break

0
1
2
3
4

In [67]:
#example of break 

# what is going to be printed??
for i in range(5):
    if i==3:
        break    
    print(i)

0
1
2

In [68]:
#example of continue
for i in range(5):
    
    if i==3:
        continue
        
    print(i)

0
1
2
4

In [69]:
#example of continue

# what is going to be printed??
for i in range(5):
    
    print(i)
    
    if i==3:
        continue

0
1
2
3
4

## Nested loops 
Just like if-statements, for-loops can be nested.

In [70]:
#sum the elements of a numpy array 
x = [[5, 6], [7, 8]]
s = 0
for i in range(2): #[0,1]
    for j in range(2): #[0,1]
        print(f"i={i},j={j},x[i][j]={x[i][j]}")
        s += x[i][j]
        print(s)

i=0,j=0,x[i][j]=5
5
i=0,j=1,x[i][j]=6
11
i=1,j=0,x[i][j]=7
18
i=1,j=1,x[i][j]=8
26

In [ ]:
s = 0

#1st loop
i = 0
j = 0
x[0][0] = 5
s= 0 + 5 = 5

#2nd loop 
i = 0
j = 1
x[0][1] = 6
s = 5 + 6 = 11

#3rd loop 
i = 1
j = 0 
x[1][0] = 7
s = 11 + 7 = 18

#4th loop
i = 1
j = 1
x[1][1] = 8
s = 18 + 8 = 26

# While Loops

A while-loop is a set of instructions that is repeated, or iterated, as long a condition is true 

A while-loop is build as follows :
```python

while logical expression:
    # Code block to be repeated until logical statement is false
    code block

```

In [71]:
n = 10

while n>1:
    
    print(n)
    
    n = n/2

10
5.0
2.5
1.25

In [72]:
print(n)

0.625

While-loops are dangerous as it is easy to create *infinite loops*.

In [ ]:
n = 0
while n > -1:
    n += 1

This iteration will never end, the only way to stop the iteration is to Stop, Restart or Shutdown the kernel. 
```
Note that by Stopping, Restarting, or Shutting down your kernel, you will loss all the information (variables) stored in the kernel. 
```

# List and dictionary comprehension*


In Python, comprehensions are an important and popular way to create lists or dictionaries. Comprehensions allow sequences to be created from other sequences with a compact syntax.

*This is a somewhat advanced topic. I'm showing this to you so that you are aware that it exists

In [1]:
#Example, create a list by squaring the numbers from 0 to 4

y = []
for i in range(5):
    y.append(i**2)
print(y)

[0, 1, 4, 9, 16]

In [2]:
# The same result can be achieved using a compact syntax 

y = [i**2 for i in range(5)]

print(y)

[0, 1, 4, 9, 16]

In [3]:
y = []
for i in range(1,5):
    for j in range(2):
        y.append(i**j)
print(y)

[1, 1, 1, 2, 1, 3, 1, 4]

In [4]:
y = [i**j for i in range(1,5) for j in range(2)]
print(y)

[1, 1, 1, 2, 1, 3, 1, 4]

Similarly, we can do dictionary comprehension

In [5]:
#create a new dictionary by finding the cube of all elements in the dictionary x
x = {'a': 1, 'b': 2, 'c': 3}

y = {key:v**3 for (key, v) in x.items()}
print(y)

{'a': 1, 'b': 8, 'c': 27}

## Exercises 

Try to do these exercises yourself. If you get stuck, the solution is at the end of the notebook.

Exercise 1. Print the numbers from 1 to 10 using a while loop

Exercise 2. Print the following pattern using a loop 

```
1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5
```

Exercise 3: Print the following pattern
```
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1
```

Exercise 4: Calculate the sum of all numbers from 1 to a given number

In [6]:
#Example, check if a number is a prime number
def check_prime(number):
    for i in range(2,number//2):
        if number%i == 0:
            return False
    
    return True

In [7]:
check_prime(10)

False

Exercise 5: Write a program to display all prime numbers within a range. 

Note: A prime number is only divisible by itself and 1

Example: 
### range
```
start = 25
end = 50
```

### output
```
Prime numbers between 25 and 50 are:
29
31
37
41
43
47
```

Exercise 6: Find the factorial of a given number
    
Note: The factorial means to multiply all integers numbers from the chosen number down to 1.

In [ ]:
factorial(1) = 1

In [ ]:
factorial(2) = 2*1
factorial(2) = 2*factorial(1)

In [ ]:
factorial(3) = 3*2*1
factorial(3) = 3*factorial(2)

In [ ]:
factorial(4) = 4*3*2*1
factorial(4) = 4*factorial(3)

In [8]:
def my_factorial(number):
    if number == 1:
        return 1
    else: 
        return number * my_factorial(number-1)

In [9]:
n = 5
fac=1
for i in range(2,5+1):
    fac = fac*i

print(fac)

120

In [10]:
print(my_factorial(5))

120

Exercise 7: Reverse a given integer number
    
Example:
#### Input
12345

#### Output
54321

Extra: Do this with a loop and without a loop

In [29]:
a = 12345
b = str(a)
c = b[::-1]
# for i in range(len(b)-1,-1,-1):
#     c+=b[i]

print(int(c))

54321

Exercise 8: Print the following pattern using a for loop
```
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*
```

Exercise 9: Print the following patter using a loop
```
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1
```

### Extra practice

Repeat the activities in the notebook ```01.07 - Exercise_dictionaries_and_list.ipynb``` using loops and branch statements.

# Solutions

|

|

|

|

|

|

|

|

|

|

|

|

|

|

Are you sure you want to see the answer?

|

|

|

|

|

|

|

|

|

|

|

|

|

|
Don't you want to try yourself first? 

|

|

|

|

|

|

|

|

|

|

|

|

|

|

ok....

In [78]:
#Solution to mini challenge 
def my_function(input_string = 'hi'):
    
    nodigits = ''
    
    assert type(input_string)==str, 'input must be a string'
    
    for i in input_string:
        if not i.isdigit():
            nodigits = nodigits+i
            
    return nodigits


my_function('1hola2')

'hola'

In [15]:
#solution to Exercises
#Exercise 1
i = 1
while i <=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [30]:
toPrint= []
for i in range(1,6):
    #store the number
    toPrint.append(i)
    #create a pretty string to print
    stringtoprint = ''
    for n in toPrint:
        stringtoprint = stringtoprint + str(n) + ' '
    #print the pretty string
    print(stringtoprint)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [46]:

listtoPrint= [] #list of lists with elements to print 
for i in range(1,11):
    #store the numbers for the first 5 iterations
    if i<6:
        #store a list of lists 
        if len(listtoPrint)==0:
            listtoPrint.append([i])
        else:
            listtoPrint.append(listtoPrint[-1] + [i])
    else:
    #now, print the lists starting from the last
        toPrint = listtoPrint[10-i]
        #create a pretty string to print
        stringtoprint = ''
        for n in toPrint:
            stringtoprint = stringtoprint + str(n) + ' '
        #print the pretty string
        print(stringtoprint)

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [53]:
#Example, check if a number is a prime number
def check_prime(number:int) -> int:
    #check that the start and end are int
    assert isinstance(start, int), 'Number is not integer.'
    
    for i in range(2,number//2):
        if number%i == 0:
            return False
    
    return True

def check_prime_in_range(start, end):
    #check that the start and end are int
    assert isinstance(start, int), 'Number is not integer.'
    assert isinstance(end, int), 'Number is not integer.'
    prime_numbers = []
    for number in range(start, end+1):
        if check_prime(number):
           prime_numbers.append(number)

    return prime_numbers


start = 25
end = 50
print(f'Prime number between {start} and {end} are : {check_prime_in_range(25, 50)}')

Prime number between 25 and 50 are : [29, 31, 37, 41, 43, 47]

In [55]:
#produce factorial

def factorial_of_number(number:int)->int:
    #check that the start and end are int
    assert isinstance(number, int), 'Number is not integer.'
    if number == 1:
        return 1
    else:
        return number * factorial_of_number(number-1)

n=5
print(f'The factorial of {n} is {factorial_of_number(n)}')

The factorial of 5 is 120

In [58]:
#reversing a number
def reverseFunction(number):
    #check that the start and end are int
    assert isinstance(number, int), 'Number is not integer.'
    
    print(int(str(number)[::-1]))

reverseFunction(12345)

54321

In [63]:
listtoPrint= [] #list of lists with elements to print 
for i in range(1,11):
    #store the numbers for the first 5 iterations
    if i<6:
        print('* '*i)
    else:
        print('* '*(10-i))

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [77]:
listtoPrint= [] #list of lists with elements to print 
for i in range(1,11):
    #store the numbers for the first 5 iterations
    if i<6:
        #store a list of lists 
        if len(listtoPrint)==0:
            listtoPrint.append([i])
        else:
            listtoPrint.append(listtoPrint[-1] + [i])
            
        toPrint = listtoPrint[i-1]
        stringtoprint = ''
        for n in toPrint:
            stringtoprint = stringtoprint + str(n) + ' '
        #print the pretty string
        print(stringtoprint)
    else:
    #now, print the lists starting from the last
        toPrint = listtoPrint[10-i]
        toPrint.reverse()
        #create a pretty string to print
        stringtoprint = ''
        for n in toPrint:
            stringtoprint = stringtoprint + str(n) + ' '
        #print the pretty string
        print(stringtoprint)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1